.padding-set {
    padding: 20px;
}

.card-title {

}

.card-body {

}

.navbar {
    background-color: #333333;
}

.smaller-text {
  font-size: 20px;
}

.midsize-text {
  font-size: 40px;
}

.big-text {
    font-size:60px;
}

.biggest-text {
    font-size: 100px;
}

.text-start {
    padding-left: 10px;
}

.btn-dark {
    box-shadow:#333333;
}

.outer-container {
    background-color: #171717;
    border-radius: 30px;
}

a:link {
  color: lightgrey;
  text-decoration: none;
}
a:visited {
  color: lightgrey;
  text-decoration: none;
}
  
a:hover {
  color: lightgrey;
  text-decoration: underline;
}

a:active {
  color: lightgrey;
  text-decoration: underline;
}

.container {
}

.padding-set-small {
  padding: 5px;
}

.card-body {
  background-color: #171717;
  padding: 3px;
}

.header-image {
  height: 40%;
  width: 40%;
}

.scale-img {
  width: 40%;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 600px;
}

.parent {
  width: 80%;
  background-image: url(images/damienpic.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 125%;
}

.child {
  position: relative;
  top: 20%;
  right: 6%;
}