th, td {
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
    width: 40%;
}

#main-table-container {
    width: 80%;
}

table {
    width: 90%;
}

#no-border {
    border:none;
}